:root {
    --primary-blue: #007bff;
    /* Azul principal do logo e botões */
    --light-blue: #e0f2fe;
    /* Azul claro do fundo da página */
    --text-color: #333;
    /* Cor do texto principal (quase preto) */
    --white: #fff;
    /* Branco */
    --border-color: #ddd;
    /* Cor das bordas (cinza claro) */
    --card-background: #fdfdfd;
    /* Fundo do card de login */
    --shadow-light: rgba(0, 0, 0, 0.05);
    /* Sombra suave */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Garante que o fundo ocupe a tela inteira */
    margin: 0;
    color: var(--text-color);
    line-height: 1.6;
}

.login-container {
    background-color: var(--card-background);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px var(--shadow-light);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

.logo {
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
}

.logo a {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--primary-blue);
    margin-bottom: 30px;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.05);
}

.login-container h2 {
    font-size: 1.8em;
    margin-bottom: 25px;
    color: var(--text-color);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--text-color);
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;

}

.form-group input[type="text"]:hover,
.form-group input[type="password"]:hover {
    outline: none;
    border-color: var(--primary-blue);
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
    outline: none;
    border-color: var(--primary-blue);
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s 1;

}

button[type="submit"] {
    cursor: pointer;
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 12px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    width: 100%;
}

button[type="submit"]:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.outros-links-container {
    display: flex;
    justify-content: center;
}

.outros-links {
    margin: 10px 6px 0px 6px;
    padding: 6px 8px;
    font-size: 0.9em;
    border: #007bff 1px solid;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.outros-links:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;

}


.outros-links a {
    color: var(--primary-blue);
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
}